{:paths ["src"]

 ;; No deps ^_^
 :deps {}

 :aliases {;; ./bin/kaocha --watch
           :test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/clojure       {:mvn/version "1.12.0"}
                                org.clojure/clojurescript {:mvn/version "1.11.132"}
                                lambdaisland/kaocha       {:mvn/version "1.91.1392"}
                                lambdaisland/kaocha-cljs  {:mvn/version "1.5.154"}
                                org.clojure/test.check    {:mvn/version "1.1.1"}}
                  :main-opts ["-m" "kaocha.runner"]}

           ;; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1260"}}
                      :main-opts  ["-m" "antq.core"]}

           :jar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                  :exec-fn      hf.depstar/jar
                  :exec-args    {:sync-pom    true
                                 :group-id    "fi.metosin"
                                 :artifact-id "signaali"
                                 :version     "0.1.0"
                                 :jar         "signaali.jar"}}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
                    :exec-fn    deps-deploy.deps-deploy/deploy
                    :exec-args  {:installer :remote
                                 :artifact "signaali.jar"}}}}

;; Memo for making a new release:
;; 1. Change the version "0.x.y" above, commit it, push it to Github.
;; 2. In Github's website, create a release.
;;    The tag name should be in the format "v0.x.y"
